profiles {
    standard {
        process.executor = 'local'
        params.cores = 8
        params.python_module = ""
        params.mummer_module = ""
        params.skesa_module = ""
        params.bedtools_module = ""
        params.mash_module = ""
        params.bbtools_module = ""
        params.iqtree_module = ""
    }
    csp2_raven2 {
        process.executor = 'slurm'
        params.cores = 20
        // Module paths verified against the live `reedling` Lmod tree (2026-09-11);
        // the previous pins (python/3.8.1, skesa/2.5.0, bbtools/38.94, and the whole
        // /nfs/sw/Modules/bedtools tree) no longer exist on this cluster.
        // NOTE: python/3.12.5 is a bare Lmod interpreter with no pandas/numpy/scipy/
        // scikit-learn/biopython/pybedtools -- CSP2's python-dependent processes
        // (chooseRefs, screenSNPDiffs, runSnpPipeline, saveMUMmerLog, getSNPDiffsData,
        // fetchReads, compileMUMmer) will ImportError under this profile regardless of
        // which python module is pinned. This is a pre-existing site-inventory gap
        // (there is no science-stack python module on this cluster), not introduced by
        // this change. Use csp2_reedling (conda) for a working python environment.
        params.python_module = "/nfs/software/modules/python/3.12.5"
        params.mummer_module = "/nfs/software/modules/mummer/4.0.0"
        params.skesa_module = "/nfs/software/modules/skesa/2.5.1"
        params.bedtools_module = "/nfs/software/modules/bedtools/2.31.1"
        params.bbtools_module = "/nfs/software/modules/bbtools/39.81"
        params.mash_module = "/nfs/software/modules/mash/2.3"
        params.iqtree_module = "/nfs/software/modules/iqtree/2.3.6"
        params.trim_name = "_contigs_skesa"

        process {
            withName: 'runMUMmer'       { beforeScript = "module load -s ${params.mummer_module} ${params.python_module} ${params.bedtools_module} ${params.bbtools_module}" }
            withName: 'saveMUMmerLog'   { beforeScript = "module load -s ${params.python_module}" }
            withName: 'chooseRefs'      { beforeScript = "module load -s ${params.python_module}" }
            withName: 'mashTriangle'    { beforeScript = "module load -s ${params.mash_module}" }
            withName: 'mashSketch'      { beforeScript = "module load -s ${params.mash_module}" }
            withName: 'screenSNPDiffs'  { beforeScript = "module load -s ${params.python_module} ${params.bedtools_module}" }
            withName: 'compileResults'  { beforeScript = "module load -s ${params.python_module}" }
            withName: 'runSnpPipeline'  { beforeScript = "module load -s ${params.python_module} ${params.bedtools_module}" }
            withName: 'getSNPDiffsData' { beforeScript = "module load -s ${params.python_module}" }
            withName: 'fetchReads'      { beforeScript = "module load -s ${params.python_module}" }
            withName: 'skesaAssemble'   { beforeScript = "module load -s ${params.skesa_module}" }
            withName: 'runiqtree'       { beforeScript = "module load -s ${params.iqtree_module}" }
        }
    }
    csp2_reedling {
        conda.enabled = true
        conda.useMicromamba = true
        conda.cacheDir = "${projectDir}/CSP2_env"
        process.conda = "${projectDir}/conf/CSP2.yaml"        
        executor.queueSize = 1000

        process.executor = 'slurm'
        params.cores = 48
        params.python_module = ""
        params.mummer_module = ""
        params.skesa_module = ""
        params.bedtools_module = ""
        params.bbtools_module = ""
        params.mash_module = ""
        params.iqtree_module = ""
        params.trim_name = "_contigs_skesa"
    }
    csp2_galaxy {
        conda.enabled = true
        conda.useMicromamba = true
        conda.cacheDir = "${projectDir}/CSP2_env"
        process.conda = "${projectDir}/conf/CSP2.yaml"
        
        process.queue = "ondemand-small"

        executor.$slurm.exitReadTimeout = 120000

        process.executor = 'slurm'
        params.cores = 1
        params.python_module = ""
        params.mummer_module = ""
        params.skesa_module = ""
        params.bedtools_module = ""
        params.bbtools_module = ""
        params.mash_module = ""
        params.iqtree_module = ""
        params.trim_name = ""
    }

}
